<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/style.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <title>ToDo List</title>
    </head>
    <body>
        <div id="root">
            <div class="container">
                <div class="wrapper">
                    <div class="add_todo">
                        <input type="text" placeholder="Inserire un nuovo todo" v-model="todo" id="todo_input" @keyup.enter="add">
                        <button type="button" name="button" @click="add" >Aggiungi</button>
                    </div>
                    <ol class="todo_list">
                        <li class="list_item" v-for="(action, index) in todos" @click="remove(index)">{{action}}</li>
                    </ol>
                </div>
            </div>
        </div>
        <script src="assets/main.js" charset="utf-8"></script>
    </body>
</html>
